
<header>
	<div class="htop">
		<div class="head" ui-sref="load"><img src="img/mine2.png" alt="" /></div>
		<div class="username">
			<h5>好吃不给钱</h5>
			<div>V2</div>
		</div>
		<div class="back"><img src="img/mine1.png" alt="" /></div>
	</div>
	<div class="hbottom">
		<div class="goods">
			<span>商品收藏</span>
		</div>
		<div class="store">
			<span>店铺收藏</span>
		</div>
	</div>
</header>
<div class="user">
	<div class="hi">
		<p>我的订单</p>
		<p class="all">查看全部订单＞</p>
	</div>
	<div class="operation">
		<ul>
			<li>待付款</li>
			<li>待收货</li>
			<li>待评价</li>
			<li>退款/售后</li>
		</ul>
	</div>
	<div class="favorable">
		<ul>
			<li ui-sref="jifenstore">积分商城</li>
			<li>优惠券</li>
			<li>收货地址</li>
			<li>客服/反馈</li>
			<li>关于我们</li>
		</ul>
	</div>
	
	<div class="mine0" >退出当前账号</div>
</div>