<header class="h-header">
	<div class="second-bg back" ui-sref="mine"></div>
	<p>积分商城</p>
	<div class="second-bg refresh"></div>
</header>
<!--秒杀内容区域-->
<div class="kill">
	<div class="second-banner">
		<img src="img/jifen.gif" alt="" />
	</div>
	<div class="operation">
		<ul>
			<li>积分明细</li>
			<li>兑换记录</li>
			<li>积分规则</li>
		</ul>
	</div>
	<div class="favorable">
		<ul>
			<li>
				<p>3元优惠卷</p>
				<p>300积分</p>
			</li>
			<li>
				<p>5元优惠卷</p>
				<p>500积分</p>
			</li>
			<li>
				<p>8元优惠卷</p>
				<p>800积分</p>
			</li>
			<li>
				<p>10元优惠卷</p>
				<p>1000积分</p>
			</li>
		</ul>
	</div>
</div>